# Node
node_modules/
package-lock.json
npm-debug.log
yarn-error.log

# VSCode
.vscode/
.history/

# macOS
.DS_Store

# Logs
*.log
*.pid

# Build / Dist
dist/
build/
coverage/

# Godot
.import/
.export/
.godot/
*.import
*.backup
*.cfg~
*.tmp

# Godot editor-specific or system files
*.import/*.import

# Editor directories
.idea/

# Environment
.env
.env.local

# Others
*.zip
*.tar.gz
